.post {
  border-radius: 5px;
  background: rgba(79, 214, 156, 0.16)
}

.get {
  border-radius: 5px;
  background: rgba(17, 205, 239, 0.16)
}

.delete {
  border-radius: 5px;
  background: rgba(245, 54, 92, 0.16)
}

.put {
  border-radius: 5px;
  background: rgba(251, 99, 64, 0.16)
}

main {
  background: #f8f9fe;
}

.mt--6 {
  margin-top: -4.5rem;
}

.pb-6 {
  padding-bottom: 4.5rem;
}

.card {
  border: 0;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
}
