pre {
  font-size: 14px !important;
  color: #fff !important;
  line-height: 20px;
  margin-bottom: 0 !important;
}

.code-bg {
  background: #282a36;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #50fa7b !important;
}

.hljs-string,
.hljs-doctag {
  color: #ff79c6 !important;
}

.hljs-comment,
.hljs-quote {
  color: #8898aa !important;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #fb6340 !important;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #11cdef !important;
}

.hljs-symbol,
.hljs-bullet {
  color: #50fa7b !important;
}


/* 另一种配色 */
/* .hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #11cdef !important;
}

.hljs-string,
.hljs-doctag {
  color: #f93cd5 !important;
}

.hljs-comment,
.hljs-quote {
  color: #8898aa !important;
} */