body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.section-profile-cover {
  z-index: -1;
}

.mt--400{
  margin-top: -28rem;
}

.message{
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 9999;
}

.form-group .invalid-feedback {
  display: block;
}

/* .fadeOut2 {
  transition: transform .4s ease-out 1s;
  opacity: 0;
} */
.alertClose {
  animation: close 2.1s;
}

@keyframes close {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.projects{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.projeclist{
  width: 23%;
  margin: 0 1%;
  height: 127px;
}

.project-title{
  display: flex;
  align-items: center;
}

.project-title .badge{
  padding: 3px 10px;
}

.projeclist p {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}
.cursor{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .projeclist {
    width: 48%;
  }
}

@media screen and (max-width: 420px) {
  .projeclist {
    width: 100%;
  }
}